@{
	ViewData["Title"] = "Login";
}

@model TylerMart.Client.Models.LoginViewModel

<form action="/Customer/Login" method="POST">
	@Html.AntiForgeryToken()
	@if (ViewBag.Error != null) {
		<p>@ViewBag.Error</p>
	}
	<p>
		<label asp-for="@Model.Email">Email</label>
		<input asp-for="@Model.Email">
		@Html.ValidationMessageFor(lvm => lvm.Email)
	</p>
	<p>
		<label asp-for="@Model.Password">Password</label>
		<input asp-for="@Model.Password">
		@Html.ValidationMessageFor(lvm => lvm.Password)
	</p>
	<p>
		<button type="submit">Login</button>
	</p>
</form>
