@{
	ViewData["Title"] = "Register";
}

@model TylerMart.Client.Models.RegisterViewModel

<form action="/Customer/Register" method="POST">
	@Html.AntiForgeryToken()
	@if (ViewBag.Error != null) {
		<p>@ViewBag.Error</p>
	}
	<p>
		<label asp-for="@Model.FirstName">First Name</label>
		<input asp-for="@Model.FirstName">
		@Html.ValidationMessageFor(lvm => lvm.FirstName)
	</p>
	<p>
		<label asp-for="@Model.LastName">Last Name</label>
		<input asp-for="@Model.LastName">
		@Html.ValidationMessageFor(lvm => lvm.LastName)
	</p>
	<p>
		<label asp-for="@Model.Email">Email</label>
		<input asp-for="@Model.Email">
		@Html.ValidationMessageFor(lvm => lvm.Email)
	</p>
	<p>
		<label asp-for="@Model.Password">Password</label>
		<input asp-for="@Model.Password">
		@Html.ValidationMessageFor(lvm => lvm.Password)
	</p>
	<p>
		<label asp-for="@Model.PasswordConfirmation">Confirm Password</label>
		<input asp-for="@Model.PasswordConfirmation">
		@Html.ValidationMessageFor(lvm => lvm.PasswordConfirmation)
	</p>
	<p>
		<label asp-for="@Model.Address">Address</label>
		<input asp-for="@Model.Address">
		@Html.ValidationMessageFor(lvm => lvm.Address)
	</p>
	<p>
		<input type="submit" value="Submit">
	</p>
</form>
