@{
	ViewData["Title"] = "Register";
}

@model TylerMart.Client.Models.RegisterViewModel

<h1>Register</h1><hr>

<div class="row">
	<div class="col-lg-12">
		<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a><br><br>
	</div>
	@if (@ViewBag.Error != null) {
		<div class="col-md-4">
			<span class="text-danger">@ViewBag.Error</span>
		</div>
	}
	<div class="col-md-4">
		<form asp-controller="Customer" asp-action="Register" method="POST">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="@Model.FirstName" class="control-label"></label>
				<input asp-for="@Model.FirstName" class="form-control">
				<span asp-validation-for="@Model.FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.LastName" class="control-label"></label>
				<input asp-for="@Model.LastName" class="form-control">
				<span asp-validation-for="@Model.LastName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.Email" class="control-label"></label>
				<input asp-for="@Model.Email" class="form-control">
				<span asp-validation-for="@Model.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.Password" class="control-label"></label>
				<input asp-for="@Model.Password" class="form-control">
				<span asp-validation-for="@Model.Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.PasswordConfirmation" class="control-label"></label>
				<input asp-for="@Model.PasswordConfirmation" class="form-control">
				<span asp-validation-for="@Model.PasswordConfirmation" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.Address" class="control-label"></label>
				<input asp-for="@Model.Address" class="form-control">
				<span asp-validation-for="@Model.Address" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.DefaultLocation" class="control-label"></label>
				<select asp-for="@Model.DefaultLocation" class="form-control">
					<option value="0" selected>None</option>
					@foreach (var l in @Model.Locations) {
						<option value="@l.ID">@l.Name</option>
					}
				</select>
			</div>
			<div class="form-group">
				<input type="submit" value="Register" class="btn btn-primary">
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
