@{
	ViewData["Title"] = "Register";
}

@model TylerMart.Client.Models.RegisterViewModel

<div class="container">
	<form action="/Customer/Register" method="POST">
		@Html.AntiForgeryToken()
		@if (ViewBag.Error != null) {
			<div class="form-group">
				<small class="form-text text-muted">@ViewBag.Error</small>
			</div>
		}
		<div class="form-group">
			<label asp-for="@Model.FirstName">First Name</label>
			<input asp-for="@Model.FirstName" class="form-control">
			@Html.ValidationMessageFor(lvm => lvm.FirstName)
		</div>
		<div class="form-group">
			<label asp-for="@Model.LastName">Last Name</label>
			<input asp-for="@Model.LastName" class="form-control">
			@Html.ValidationMessageFor(lvm => lvm.LastName)
		</div>
		<div class="form-group">
			<label asp-for="@Model.Email">Email</label>
			<input asp-for="@Model.Email" class="form-control">
			@Html.ValidationMessageFor(lvm => lvm.Email)
		</div>
		<div class="form-group">
			<label asp-for="@Model.Password">Password</label>
			<input asp-for="@Model.Password" class="form-control">
			@Html.ValidationMessageFor(lvm => lvm.Password)
		</div>
		<div class="form-group">
			<label asp-for="@Model.PasswordConfirmation">Confirm Password</label>
			<input asp-for="@Model.PasswordConfirmation" class="form-control">
			@Html.ValidationMessageFor(lvm => lvm.PasswordConfirmation)
		</div>
		<div class="form-group">
			<label asp-for="@Model.Address">Address</label>
			<input asp-for="@Model.Address" class="form-control">
			@Html.ValidationMessageFor(lvm => lvm.Address)
		</div>
		<button type="submit" class="btn btn-primary">Register</button>
	</form>
</div>
