@model TylerMart.Client.Models.OrderViewModel

<form action="/Shopping/AddToCart" method="GET">
	<select asp-for="@Model.Selection">
		@foreach (var product in @Model.Inventory) {
			@if (@Model.Inventory.First().Key.ID == product.Key.ID) {
				<option value="@product.Key.ID" selected>
					@product.Key.Name: @product.Value ($@product.Key.Price)
				</option>
			} else {
				<option value="@product.Key.ID">
					@product.Key.Name: @product.Value ($@product.Key.Price)
				</option>
			}
		}
	</select>
	<input type="submit" value="Add">
</form>

@foreach (var product in @Model.ShoppingCart) {
	<form action="/Shopping/RemoveFromCart" method="GET">
		<input type="hidden" asp-for="@Model.Selection" value="@product.ID">
		<input type="submit" value="Remove">
	</form>
}


